a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  font-size: 25px;
}

/* 代码框样式 */

pre {
  position: relative;
  padding-left: 25px;
  background: #7b7b7b !important;
  border-radius: 5px;
  width: 90%;
}

code {
  background: rgba(27,31,35,0.05) !important;
  padding: 4px;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 8px solid #dfe2e5;
  background-color: #efefef;
  padding: 5px;
  margin-left: 5px;
}

.hljs {
  background: #7b7b7b !important;
  width: 95%;
}

.line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 7px;
  left: -10px;
  font-size: 100%;
  width: 30px;
  text-align: center;
  letter-spacing: -1px;
  border-right: 2px solid rgba(226, 226, 226, 0.96);
  user-select: none;
  counter-reset: linenumber;
}

.line-numbers-rows span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows span:before {
  content: counter(linenumber);
  margin-left: 7px;
  color: #999;
  display: block;
  text-align: center;
}

/* 翻转 */

.spinner {
  width: 60px;
  height: 60px;
  background: #67CF22;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(220px);
  }
  50% {
    -webkit-transform: perspective(220px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(220px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateY(0) rotateX(0);
    -webkit-transform: perspective(220px) rotateY(0) rotateX(0);
  }
  50% {
    transform: perspective(120px) rotateY(0) rotateX(-180.1deg);
    -webkit-transform: perspective(220px) rotateY(0) rotateX(-180.1deg);
  }
  100% {
    transform: perspective(120px) rotateY(-179.9deg) rotateX(-180deg);
    -webkit-transform: perspective(220px) rotateY(-179.9deg) rotateX(-180deg);
  }
}

/* 流光特效
  <div class="streamer">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    text
  </div>
*/

.streamer {
  line-height: 49px;
  text-align: center;
  position: relative;
  color: #03e9f4;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}

.streamer span {
  position: absolute;
}

.streamer span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

.streamer span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.streamer span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

.streamer span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}